# Python
.venv/
__pycache__/
*.pyc

# FITS / astronomy data
raw/
raw_test/

output/
output_1/
output_test/

*.fits
*.fit

# Generated results
*.png
*.csv

# Next.js
frontend/node_modules/
frontend/.next/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db